# Dependency directories
node_modules/
.pnpm-store

# Build artifacts
.next/
build/
dist/
.swc/

# Operating system files
.DS_Store
*.swp

# Logs
logs/
*.log

# Test-related files
coverage/
cypress/screenshots/
cypress/videos/

# Secrets
secrets/

# Miscellaneous
storage/
.github/
.idea/
.run/
.vscode/