
node_modules
.next/
.env
.env.*.local
.env.*
npm-debug.log
yarn-debug.log
pnpm-debug.log
.DS_Store
.idea/
*.swp
.git/
.gitignore
.github/
.devcontainer/
Dockerfile
compose.yaml
.run/
notdevcontainer/
Notes/
.vscode/
Readme.md
build/
dist/
