# ---------------------
# SERVER
# ---------------------
AUTH_BCRYPT_SALT_ROUNDS=10
DATABASE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dev_db
NODE_ENV=development
PORT=3000
SESSION_SECRET=yoursessionsecret

# ---------------------
# PUBLIC
# ---------------------
NEXT_PUBLIC_LOG_LEVEL=info
NEXT_PUBLIC_NODE_ENV=development
