# ---------------------
# SERVER
# ---------------------
AUTH_SECRET=asdf
AUTH_GITHUB_ID=abcd
AUTH_GITHUB_SECRET=asdfasdd
NODE_ENV=development
PORT=3000
DATABASE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dev_db
SESSION_SECRET=ssfasdfasdf
SESSION_ISSUER=my-app
SESSION_AUDIENCE=web
LOG_LEVEL=info
AUTH_BCRYPT_SALT_ROUNDS=10

# ---------------------
# SHARED
# ---------------------

# ---------------------
# PUBLIC
# ---------------------
NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_LOG_LEVEL=info
