@import "tailwindcss";

/* Global custom variables */
:root {
  --font-eyegrab: "tektur", sans-serif;
  --font-readme: "Inter", sans-serif;
  --font-family: var(--font-readme);
  /* if i use color-scheme, then i can not test with the theme toggle that i made.
   i have to change the firefox setting*/
  /* i can also use the toggle in devtools */
  /* added utility class to <html> and <body> instead*/
  color-scheme: light dark;
}

@theme {
  /* === BASE COLORS === */
  --color-text-primary: light-dark(
    var(--color-gray-800),
    var(--color-gray-100)
  );
  --color-bg-primary: light-dark(var(--color-gray-100), var(--color-gray-950));

  --color-text-secondary: light-dark(
    var(--color-gray-600),
    var(--color-gray-400)
  );
  --color-bg-secondary: light-dark(
    var(--color-gray-200),
    var(--color-gray-800)
  );

  --color-text-accent: light-dark(var(--color-sky-700), var(--color-sky-300));
  --color-bg-accent: light-dark(var(--color-sky-200), var(--color-sky-800));

  /* === INTERACTIVE STATES === */
  --color-text-hover: light-dark(var(--color-sky-800), var(--color-sky-200));
  --color-bg-hover: light-dark(var(--color-sky-300), var(--color-sky-700));

  --color-text-active: light-dark(var(--color-gray-700), var(--color-gray-200));
  --color-bg-active: light-dark(var(--color-sky-500), var(--color-sky-600));

  --color-text-focus: light-dark(var(--color-gray-900), var(--color-gray-100));
  --color-bg-focus: light-dark(var(--color-sky-400), var(--color-sky-600));

  --color-text-disabled: light-dark(
    var(--color-gray-400),
    var(--color-gray-600)
  );
  --color-bg-disabled: light-dark(var(--color-gray-300), var(--color-gray-700));

  /* === ERROR === */
  --color-text-error: light-dark(var(--color-red-700), var(--color-red-300));
  --color-bg-error: light-dark(var(--color-red-100), var(--color-red-900));
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-eyegrab), sans-serif;
  color: var(--color-text-primary);
}
